<div class="page-heading">
    <h1 class="page-name">Sign Up</h1>
    <div class="page-heading-name">
        <img class="page-icon" src="/images/totem.png" alt="Sign up icon">
    </div>
</div>
<h3 class="steps">Step 1/2</h3>
<a href="/auth/complete-profile" class="skip">>> Skip</a>
<form action="/profile/edit/interests" method="post">
  <fieldset>
    <legend>What are you into?</legend>
    {{#each interests}}
        <input type="checkbox" id="{{this}}" name="genres" value="{{this}}" checked>
        <label for="{{this}}">{{this}}</label><br>
    {{/each}}
    {{#each notCheckedInterests}}
        <input type="checkbox" id="{{this}}" name="genres" value="{{this}}">
        <label for="{{this}}">{{this}}</label><br>
    {{/each}}
    <button type="submit">Submit</button>
  </fieldset>
</form>