<div class="page-heading">
  <h1 class="app-name">SoundTribe</h1>
    <div class="page-heading-name">
        <img class="page-icon" src="/images/profile.png" alt="Profile icon">
        <h2 class="page-name-1">Edit profile</h2>
    </div>
    {{!-- Missing log out and edit profile links in burger menu --}}
</div>
<h3 class="steps">Step 2/2</h3>
<div>
<p>{{error}}</p>
<form class="form-edit-interests"action="/profile/edit/interests" method="post">
    <div class="legend">What are you into?</div>
    <div class="interest-group">
    {{#each interests}}
        <input type="checkbox" id="{{this}}" name="genres" value="{{this}}" checked>
        <label for="{{this}}">{{this}}</label><br>
    {{/each}}
    {{#each notCheckedInterests}}
        <input type="checkbox" id="{{this}}" name="genres" value="{{this}}">
        <label for="{{this}}">{{this}}</label><br>
    {{/each}}
  </div>
  <button class="interests-input" type="submit">Submit</button>
</form>
</div>