<div class="page-heading">
  <h1 class="app-name">SoundTribe</h1>
    <div class="page-heading-name">
        <img class="page-icon" src="/images/profile.png" alt="Profile icon">
        <h2 class="page-name-1">Edit profile</h2>
    </div>
    {{!-- Missing log out and edit profile links in burger menu --}}
</div>
<h3 class="steps">Step 1/2</h3>
{{#if this.error}}
  <p class="error-msg">{{this.error}}</p>
{{/if}}
<form class="edit-profile-1" action="/profile/edit" enctype="multipart/form-data" method="POST">
  <label class="label-edit-profile" for="username">New username</label>
  <input class="input-edit-profile"type="text" name="username" value="{{user.username}}" />
  <label class="label-edit-profile" for="picture">New Profile Picture:</label>
  <input class="input-edit-profile" type="file" name="picture" value="{{user.picture}}" accept="image/*" />
  <div class="country-city">
    <div class="country">
      <label for="country">New Country</label>
      <input type="text" name="country" value="{{user.country}}" />
    </div>
    <div class="city">
      <label for="city">New City</label>
      <input type="text" name="city" value="{{user.city}}" />
    </div>
    </div>
  {{#if user.isTribe}}
    <p>Social Media Links</p>
    <div class="edit-fieldset-1">
      <label for="spotifyLink"><img
        src="/images/spotify-logo.png"
        alt="Spotify logo"
      /></label>
      <input type="text" name="spotifyLink" value="{{user.spotifyLink}}"/>
    </div>
    <div class="edit-fieldset-1">
      <label for="instagramLink"><img
        src="/images/insta-logo.png"
        alt="Instagram logo"
      /></label>
      <input type="text" name="instagramLink" value="{{user.instagramLink}}"/>
    </div>
  {{/if}}
  <button type="submit">Submit</button>
  <a href="/profile/delete-profile" class="delete-profile">Delete profile</a>
</form>