<h1>What are your musical interests {{user.username}}</h1>
<h4>Step 1/2</h4>
<p>Tell us what kind of Tribes do you like</p>
<form action="/auth/interests" method="post">
  <fieldset>
    <legend>Please choose at least 3 and up to 5 musical genres that you like:</legend>
    {{#each interestsDB}}
      <input type="checkbox" id="{{this}}" name="genres" value="{{this}}">
      <label for="{{this}}">{{this}}</label><br>
    {{/each}}
    <input type="submit" value="Submit">
  </fieldset>
</form>
