<div class="page-heading">
    <h1 class="page-name">Sign Up</h1>
    <div class="page-heading-name">
        <img class="page-icon" src="/images/totem.png" alt="Sign up icon">
    </div>
</div>
<h4 class="steps">Step 1/2</h4>
{{#if this.error}}
  <p class="error-msg">{{this.error}}</p>
{{/if}}
<form class="signup-interests" action="/auth/interests" method="post">
 <fieldset>
  <legend>What are you into?</legend>
  <div class="interest-group">
    {{#each interestsDB}}
      <label for="{{this}}">
      <input type="checkbox" id="{{this}}" name="genres" value="{{this}}" />
      <p>{{this}}</p>
      </label>
    {{/each}}
  </div>
  </fieldset>
  <input class="interests-input" type="submit" value="Submit" />
  <a href="/auth/complete-profile">>>Skip</a>
</form>