<div class="page-heading">
    <h1 class="app-name">SounTribe</h1>
    <div class="page-heading-name">
        <img class="page-icon" src="/images/profile.png" alt="Profile icon">
        <h2 class="page-name">{{user.username}}</h2>
    </div>
    {{!-- Missing log out and edit profile links in burger menu --}}
</div>

<div class="profile-info">
    <img class="profile-picture" src="{{user.picture}}" alt="{{user.username}} profile picture">
    {{#unless owner}}
        {{#if user.isTribe}}
            <form action="/follow/new/{{user._id}}" method="post">
                <button type="submit" class="follow-btn">
                    {{#if isFollowing}}
                        Unfollow
                    {{else}}
                        Follow
                    {{/if}}
                </button>
            </form>
        {{/if}}
    {{/unless}}
    {{#if user.isTribe}}<a class="follows" href="#">Followers: {{user.followers}}</a>{{/if}}
    <a class="follows" href="#">Following: {{user.following}}</a>
    <nav class="profile-pages-nav">
        {{#if owner}}
            {{#if user.isTribe}}<a href="/profile/posts">Posts</a>{{/if}}
            <a href="/profile/liked">Liked</a>
            <a href="/profile/calendar">Calendar</a>
        {{else}}
            <a href="/profile/view/{{user._id}}/posts">Posts</a>
            <a href="/profile/view/{{user._id}}/calendar">Calendar</a>
        {{/if}}
    </nav>
</div>
{{#if posts}}
    {{>postsPage posts}}
{{/if}}
{{#if liked}}
    {{>postsPage liked}}
{{/if}}
{{#if calendar}}
    {{>calendarPage calendar}}
{{/if}}