<div class="page-heading">
    <h1 class="app-name">SoundTribe</h1>
    <div class="page-heading-name">
        <img class="page-icon" src="/images/profile.png" alt="Profile icon">
        <h2 class="page-name">{{user.username}}</h2>
    </div>
    {{!-- Missing log out and edit profile links in burger menu --}}
</div>

<div class="profile-info">
    <img class="profile-picture" src="{{user.picture}}" alt="{{user.username}} profile picture">
    <div class="content-container">
        <div class="follows-container">
            {{#if user.isTribe}}<a class="follows" href="/profile/{{user._id}}/followers">Followers: {{user.followers}}</a>{{/if}}
            <a class="follows" href="/profile/{{user._id}}/following">Following: {{user.following}}</a>
        </div>
        <div class="location-container">
            {{#if user.country}}<p>Country: {{user.country}}</p>{{/if}}
            {{#if user.city}}<p>City: {{user.city}}</p>{{/if}}
        </div>
        <div class="social-media-container">
            {{#if user.spotifyLink}}
                <a href="{{user.spotifyLink}}"><img src="/images/spotify-logo.png" alt="Spotify logo link"></a>
            {{/if}}
            {{#if user.instagramLink}}
                <a href="{{user.instagramLink}}"><img src="/images/insta-logo.png" alt="Instagram logo link"></a>
            {{/if}}
        </div>
    </div>
</div>
<div class="buttons-container">
    {{#if owner}}
        <a class="profile-btn edit-profile-btn" href="/profile/edit">
            <img src="/images/feather.png" alt="Feather icon">
            <p>Edit Profile</p> 
        </a>
        <a class="profile-btn logout-btn" href="/auth/logout">
            <img src="/images/logout.png" alt="logout icon">
            <p>Log Out</p>
        </a>
    {{else}}
        {{#if user.isTribe}}
            <form action="/follow/new/{{user._id}}" method="post">
                {{#if isFollowing}}
                    <button type="submit" class="profile-btn follow-btn following">
                        <img src="/images/following.png" alt="following icon">
                        <p>Unfollow</p>
                    </button>
                {{else}}
                    <button type="submit" class="profile-btn follow-btn not-following">
                        <img src="/images/follow.png" alt="follow icon">
                        <p>Follow</p>
                    </button>
                {{/if}}
            </form>
        {{/if}}
    {{/if}}
</div>

<nav class="profile-pages-nav">
    {{#if owner}}
        {{#if user.isTribe}}<a class="nav-border-right" href="/profile/posts">Posts</a>{{/if}}
        <a class="{{#if user.isTribe}}nav-border-left{{/if}} nav-border-right" href="/profile/liked">Liked</a>
        <a class="nav-border-left" href="/profile/calendar">Calendar</a>
    {{else}}
        {{#if user.isTribe}}<a class="nav-border-right" href="/profile/view/{{user._id}}/posts">Posts</a>{{/if}}
        <a class="nav-border-left" {{#unless user.isTribe}} style="border-left: none;" {{/unless}} href="/profile/view/{{user._id}}/calendar">Calendar</a>
    {{/if}}
</nav>

{{#if emptyPosts}}
    {{#if owner}}
        <div class="profile-empty-page">
            <img src="/images/profile.png" alt="App Icon">
            <h2>Looks like you haven't posted <br> any albums yet</h2>
            <p>Go ahead and share your pasion!</p>
            <img class="text-icon" src="/images/new-post.png" alt="Discover Icon">
            <p>Here you'll be able to manage your posts.</p>
        </div>
    {{else}}
        <div class="profile-empty-page">
            <img src="/images/profile.png" alt="App Icon">
            <h2>Looks like {{user.username}} has not posted<br> any albums yet</h2>
        </div>
    {{/if}}
{{/if}}
{{#if posts}}
    {{>postsPage posts}}
{{/if}}
{{#if emptyLiked}}
    <div class="profile-empty-page">
        <img src="/images/profile.png" alt="App Icon">
        <h2>Looks like you haven't found any interesting albums yet</h2>
        <p>Head to your discover page</p>
        <img class="text-icon" src="/images/discover.png" alt="Discover Icon">
        <p>and show some love for the Tribes.</p>
    </div>
{{/if}}
{{#if liked}}
    {{>postsPage liked}}
{{/if}}

{{#if calendar}}
    {{#if owner}}
        {{#if user.isTribe}}
            <div class="add-event">
            <a href="/events/new">Add event</a>
            </div>
        {{/if}}
    {{/if}}
    {{#if calendar.empty}}
        {{#if user.istribe}}
            <div class="profile-empty-page">
                <img src="/images/profile.png" alt="App Icon">
                <h2>No events sheduled</h2>
            </div>
        {{else}}
            <div class="profile-empty-page">
                <img src="/images/profile.png" alt="App Icon">
                <h2>{{user.username}} has no sheduled events</h2>
            </div>
        {{/if}}
    {{/if}}
    {{>calendarPage calendar}}
{{/if}}