<div class="profile-info">
    <img style="width: 100px;" src="{{user.picture}}" alt="{{user.username}} profile picture">
    <p>{{user.username}}</p>
    {{#if owner}}
        <a href="/profile/edit">Edit Profile</a>
    {{else}}
        {{#if user.isTribe}}
            <form action="/follow/new/{{user._id}}" method="post">
                <button type="submit" class="follow-btn">
                    {{#if isFollowing}}
                        Unfollow
                    {{else}}
                        Follow
                    {{/if}}
                </button>
            </form>
        {{/if}}
    {{/if}}
    <a href="#">Followers: {{user.followers}}</a>
    <a href="#">Following: {{user.following}}</a>
    <nav>
        {{#if owner}}
            <a href="/profile/posts">Posts</a>
            <a href="/profile/liked">Liked</a>
            <a href="/profile/calendar">Calendar</a>
        {{else}}
            <a href="/profile/view/{{user._id}}/posts">Posts</a>
            <a href="/profile/view/{{user._id}}/calendar">Calendar</a>
        {{/if}}
    </nav>
</div>
{{#if posts}}
    {{>postsPage posts}}
{{/if}}
{{#if liked}}
    {{>postsPage liked}}
{{/if}}
{{#if calendar}}
    {{>calendarPage calendar}}
{{/if}}