{{#each events}}
    <div class="event">
        <h5>{{this.date}}</h5>
        <h5>{{this.tribe}}</h5>
        <p>{{this.location}}</p>
        {{#if this.ticketsLink}}
            <a href="{{this.ticketsLink}}" class="buy-tickets">Buy tickets</a>
        {{/if}}
        {{#if this.canAttend}}
            {{#if this.isAttending}}
                <a href="/attend/{{this._id}}" class="attend-btn">Attending 🎸</a>
            {{else}}
                <a href="/attend/{{this._id}}" class="attend-btn">Attend</a>
            {{/if}}
        {{/if}}
        <div class="event-buttons">
        {{#if this.isOwner}}
            <a href="/events/edit/{{this._id}}"><img src="/images/feather.png" alt="Feather icon for edit event"></a>
            <a href="/events/delete/{{this._id}}"><img src="/images/delete.png" alt="Trash icon for delete event"></a> 
        {{/if}}
        </div>
    </div>
{{/each}}