<div class="page-heading">
    <h1 class="app-name">SoundTribe</h1>
    <div class="page-heading-name">
        <img class="page-icon" src="/images/discover.png" alt="Discover icon link">
        <h2 class="page-name">Discover</h2>
    </div>
</div>
<form class="search-form" action="/discover/search" method="post">
    <input type="text" name="userQuery" placeholder="Search for a tribe">
    <button type="submit"><img src="/images/compass.png" alt="Compass icon"></button>
</form>
{{#if error}}
    <p>{{error}}</p>
{{/if}}
{{#if latestAlbums}}
    {{#each latestAlbums}}
        <div class="post">
            <a class="post-profile-info" href="/profile/view/{{this.tribe._id}}/posts">
                <img class="post-profile-picture" src="{{this.tribe.picture}}" alt="Profile picture">
                <p class="post-tribe-name">{{this.tribe.username}}</p>
            </a>
            <h5 class="post-album-title">{{this.title}}</h5>
            <img class="post-album-img" src="{{this.image}}" alt="{{this.title}} cover image">
            <div class="post-likes">
                <form action="/like/edit/{{this._id}}" method="post">
                    <button type="submit">
                        {{#if this.isLiked}}
                            <img class="post-like-icon" src="/images/liked.png" alt="liked post icon">
                        {{else}}
                            <img class="post-like-icon" src="/images/like.png" alt="unliked post icon">
                        {{/if}}
                    </button>
                </form>
                <p class="post-num-likes">{{this.numOfLikes}}</p>
            </div>  
        </div>
    {{/each}}
{{/if}}
{{#if searchResults}}
    {{#each searchResults}}
        <div class="search-result-profile">
            <a href="/profile/view/{{this._id}}/posts">
                <img style="width: 50px;" src="{{this.picture}}" alt="Profile picture for {{this.username}}">
                <p>{{this.username}}</p>
            </a>
        </div>
    {{/each}}
{{/if}}