<h1>Discover Page</h1>
<form action="/discover/search" method="post">
    <input type="text" name="userQuery" placeholder="Search for a tribe">
    <button type="submit">Search</button>
</form>
{{#if error}}
    <p>{{error}}</p>
{{/if}}
{{#if latestAlbums}}
    {{#each latestAlbums}}
        <div class="post-card">
            <h3>{{this.title}}</h3>
            <img style="width: 150px;" src="{{this.image}}" alt="{{this.title}} cover image">
            {{#if this.description}}
                <p>{{this.description}}</p>
            {{/if}}
            <p>Genres:</p>
            {{#each this.genres}}
                <li>{{this}}</li>
            {{/each}}
            <form action="/like/edit/{{this._id}}" method="post">
            <button type="submit">Like</button>
            </form>
        </div>
    {{/each}}
{{/if}}
{{#if searchResults}}
    {{#each searchResults}}
        <div class="search-result-profile">
            <img style="width: 50px;" src="{{this.picture}}" alt="Profile picture for {{this.username}}">
            <p class="search-result-username">{{this.username}}</p>
            <a href="/profile/view/{{this._id}}/posts">View Profile</a>
        </div>
    {{/each}}
{{/if}}