<div class="page-heading">
    <h1 class="app-name">SoundTribe</h1>
    <div class="page-heading-name">
        <img class="page-icon" src="/images/discover.png" alt="Discover icon link">
        <h2 class="page-name">Discover</h2>
    </div>
</div>
<form class="search-form" action="/discover/search" method="post">
    <input type="text" name="userQuery" placeholder="Search for a tribe">
    <button type="submit"><img src="/images/compass.png" alt="Compass icon"></button>
</form>
{{#if error}}
    <p class="error-msg">{{error}}</p>
{{/if}}
{{#if latestAlbums}}
    {{#each latestAlbums}}
        <div class="post">
            <a class="post-profile-info" href="/profile/view/{{this.tribe._id}}/posts">
                <img class="post-profile-picture" src="{{this.tribe.picture}}" alt="Profile picture">
                <p class="post-tribe-name">{{this.tribe.username}}</p>
            </a>
            <a href="/posts/detail/{{this._id}}" class="album-detail-link">
                <h5 class="post-album-title">{{this.title}}</h5>
                <img class="post-album-img" src="{{this.image}}" alt="{{this.title}} cover image">
            </a>
        </div>
    {{/each}}
{{/if}}
{{#if emptySearch}}
    <div class="empty-page">
        <h2>No username found</h2>
        <p>Please try again</p>
        <img src="/images/profile.png" alt="App Icon">
    </div>
    {{/if}}
{{#if searchResults}}
    {{#each searchResults}}
        <div class="search-result-profile">
            <a href="/profile/view/{{this._id}}/posts">
                <img src="{{this.picture}}" alt="Profile picture for {{this.username}}">
                <p>{{this.username}}</p>
            </a>
        </div>
    {{/each}}
{{/if}}
{{#if empty}}
    <div class="empty-page">
        <img src="/images/profile.png" alt="App Icon">
        <h2>What style are you into?</h2>
        <p>Head to your profile</p>
        <img class="text-icon" src="/images/profile.png" alt="Discover Icon">
        <p>and edit it to set up your favourite music genres.</p>
        <p>Here you will find our suggested albums.</p>
    </div>
{{/if}}