<h1>Discover Page</h1>
<form action="/discover/search" method="post">
    <input type="text" name="userQuery" placeholder="Search for a tribe">
    <button type="submit">Search</button>
</form>
{{#if error}}
    <p>{{error}}</p>
{{/if}}
{{#if latestAlbums}}
    {{#each latestAlbums}}
        <div class="post-card">
            <h3>{{this.title}}</h3>
            <img style="width: 150px;" src="{{this.image}}" alt="{{this.title}} cover image">
            {{#if this.description}}
                <p>{{this.description}}</p>
            {{/if}}
            <p>Genres:</p>
            {{#each this.genres}}
                <li>{{this}}</li>
            {{/each}}
        </div>
    {{/each}}
{{/if}}