<div class="page-heading">
    <h1 class="app-name">SoundTribe</h1>
    <div class="page-heading-name">
        <img class="page-icon" src="/images/new-post.png" alt="New post icon">
        <h2 class="page-name">New Album</h2>
    </div>
</div>
<h3 class="steps">Step 1/2</h3>
{{#if error}}
    <p>{{error}}</p>
{{/if}}
<h1 class="newalbum-title">Tell us about your release</h1>
<form class="newalbum-form" action="/posts/new" enctype="multipart/form-data" method="post">
    <label class="image-newalbum"for="image">Cover image for the album</label>
    <input class="image-newalbum-input"type="file" name="image" accept="image/*" required="true">
    <label class="title-newalbum"for="title">Title of the album</label>
    <input class="title-newalbum-input"type="text" name="title" placeholder="The Dark Side Of The Moon" required="true">
    <label class="description-newalbum"for="description">Description of the album</label>
    <input class="description-newalbum-input"type="text" name="description" placeholder="Created during the pandemic, this is our manifest as a tribe...">
    <fieldset required="true">
        <legend>Choose the genres that represent this album:</legend>
        <div class="newalbum-interests">
         {{#each interestsDB}}
             <input type="checkbox" id="{{this}}" name="genres" value="{{this}}">
             <label for="{{this}}">{{this}}</label><br>
         {{/each}}
         </div>
  </fieldset>
  <button type="submit">Submit</button>
</form>