<div class="page-heading">
    <h1 class="app-name">SounTribe</h1>
    <div class="page-heading-name">
        <img class="page-icon" src="/images/new-post.png" alt="New post icon">
        <h2 class="page-name">New Album</h2>
    </div>
</div>
<h3 class="steps">Step 1/3</h3>
{{#if error}}
    <p>{{error}}</p>
{{/if}}
<h1>Tell us about your release</h1>
<form action="/posts/new" method="post">
    <label for="title">Title of the album</label>
    <input type="text" name="title" placeholder="The Dark Side Of The Moon" required="true">
    <label for="description">Description of the album:</label>
    <input type="text" name="description" placeholder="Created during the pandemic, this is our manifest as a tribe...">
    <fieldset required="true">
        <legend>Choose the genres that represent this album:</legend>
         {{#each interestsDB}}
             <input type="checkbox" id="{{this}}" name="genres" value="{{this}}">
             <label for="{{this}}">{{this}}</label><br>
         {{/each}}
  </fieldset>
  <button type="submit">Submit</button>
</form>