<h1>{{user.username}} has a new release</h1>
<h4>Step 1/2</h4>
{{#if error}}
    <p>{{error}}</p>
{{/if}}
<form action="/posts/new" method="post">
    <label for="image">Album's image URL:</label>
    <input type="text" name="image" placeholder="https://google.com/..." required="true">
    <label for="title">Title of the album</label>
    <input type="text" name="title" placeholder="The Dark Side Of The Moon" required="true">
    <label for="description">Description of the album:</label>
    <input type="text" name="description" placeholder="Created during the pandemic, this is our manifest as a tribe...">
    <fieldset required="true">
        <legend>Choose the genres that represent this album:</legend>
         {{#each interestsDB}}
             <input type="checkbox" id="{{this}}" name="genres">
             <label for="{{this}}">{{this}}</label><br>
         {{/each}}
  </fieldset>
  <button type="submit">Add tracks</button>
</form>